<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My first post</a></h2>
            <p>Hello Corn</p>
            <time>published: 20.04.2024, 14:50</time>
        </article>

        <article>
            <h2><a href="">My second post</a></h2>
            <p>Welcome to my blog.</p>
            <time>published: 14.06.2014, 12:14</time>
        </article>
    </body>
</html>